.button-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.button-holder {
    flex-grow: 1;
    flex-shrink: 1;
}

.button-holder button {
    display: block;
    min-width: 25%;
    margin: auto;

}