/* working Palette URL: http://paletton.com/#uid=13Z0u0klE57bMg6hmb5qR9+Dv5+

/* RESETS */

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 1vw;
  font-family: sans-serif;
}

/* GLOBAL STYLES */
.visually-hidden {
  display: none;
}

.vert-flex-container {
  display: flex;
  flex-direction: column;
}

:root {
  background-color: #0C0C1C;
  --secondary-bg-color : #363757;
  --primary-font-color: #8687A2;
  --primary-btn-color: #16186C;
  --app-container-size: 75vw;
}

button {
  border-radius: 4px;
  padding: 2px;
  font-size: 3rem;
  color: var(--primary-font-color);
  background-color: var(--primary-btn-color);
}

label, button, input {
  font-size: 3rem;
}

/* STYLES */

.app-container {
  height: 100vh;
  width: var(--app-container-size);
  margin: auto;
}

h1 {
  flex: 0 1 auto;
  text-align: center;
  font-size: 5rem;
  color: var(--primary-font-color);
  
}

p {
  text-align: center;
  color: var(--primary-font-color);
  font-size: 2rem;
}


.app-main {
  flex: 1 1 auto;
  min-height: 75%;
  
}

.acc-area {
  flex: 1 1 auto;
  border: 3px inset black;
  overflow-y: auto;
  background-color: var(--secondary-bg-color);
}

.toolbar {
  flex: 0 1 15%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
