/* RESETS */

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

/* GLOBAL STYLES */
.visually-hidden {
  display: none;
}

/* STYLES */

.vert-flex-container {
  display: flex;
  flex-direction: column;
}

.app-container {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid black;
}


.app-container > *, .app-main > * {
  flex: 0;
}

.app-container h1 {
  text-align: center;
  color: brown;
  font-size: 3rem;
  letter-spacing: 2px;
  height: 50px;
}

.app-container .app-main {
  flex : 1;
}

.app-main .acc-area {
  flex : 1;
  border: 1px solid red;
  background-color: wheat;
  overflow-y: scroll;
}

.app-main .toolbar {
  border: 1px solid black;
}

